html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #336dea;
  transition: background-color .5s;
}
.content {
  flex: 1 0 auto;
}
.help-block {
  color: #fff;
}

.navbar {
  background-color: #3c76f2;
}

.jumbotron {
  padding: 10px 10px 20px 30px;
  margin-bottom: 0px;

}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0px;

}

#logoNav {
  height: 100%;
  margin: auto;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-collapse {

  background-color: black;
}

.navbar-inverse {
  background-color: black;
}

.utile {

  background-color: #40f098;

}

a:hover {
  color: blue;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
}

.nav.navbar-right {
  padding-top: 15px;
}

.footer {

background:black;
color: white;
height: 8%
}

.iconPosition {
  text-align:center;
}

.jumboLogin {
  margin: 25px 0 25px 0;
}

.buttonHome {

  height: 25px;
  padding-right: 5px;
}

.btn-default {
  margin-bottom: 10px;
  text-align:center;
}

.glyphicon {
  width: 50px;
  padding-top: 15px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  line-height: 1;
  max-height: 450px;
  margin: auto;
}
