@media (min-width: 1200px).container {


}

body {
  padding-top: 50px;
  position: relative;
}

pre {
  tab-size: 8;
}

@media screen and (max-width: 768px) {
  .side-collapse-container{
    width:100%;
    position:relative;
    left:0;
    transition:left .4s;
  }
  .side-collapse-container.out{
    left:200px;
  }
  .side-collapse {
    top:50px;
    bottom:0;
    left:0;
    width:200px;
    position:fixed;
    overflow:hidden;
    transition:width .4s;
  }
  .side-collapse.in {
    width:0;
  }
  .nav.navbar-right {
    padding-top: 0px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .jumbotron{
    padding-left: 10px;
  }
}
