<div class='container-fluid'>
  <div class="jumbotron">
    <h1>Welcome to Headquarters!</h1>
    <p> Please login to enter the Command Center.</p>
  </div>
  <div class='container content'>

    <div class= "col-lg-3"></div>

    <div class="col-lg-6 col-lg">
      <div class="col-lg-4">
        <a href="/auth/github" class='btn btn-lg btn-default '>Github Login</a>
      </div>
      <div class="col-lg-4">
        <a href="/auth/gitlab" id='gitlab' class='btn btn-lg btn-default '>GitLab Login</a>
      </div>

      <!-- creating an auth for stack overflow? -->

      <div class="col-lg-4">
        <a href="https://stackoverflow.com/users/login-add?ssrc=login" id='stackOverflow' class='btn btn-lg btn-default '>GitLab Login</a>
      </div>
    </div>

      <div class= "col-lg-3"></div>

</div>
</div>
