<div class='container-fluid'>
  <div class="jumbotron">
    <h1>Welcome to Headquarters!</h1>
    <p> Please login to enter the Command Center.</p>
  </div>
  <div class='container content'>

    <div class="col-lg-9 col-lg-offset-3">
      <div class="col-lg-3">
        <a href="/auth/github" class='btn btn-lg btn-default '>Github Login</a>
      </div>
      <div class="col-lg-3">
        <a href="/auth/gitlab" id='gitlab' class='btn btn-lg btn-default '>GitLab Login</a>
      </div>
    </div>
</div>
</div>
