<!-- Matrix  Structure -->
<style>


  .sideHeader,
  .quadrant {
    background: #a0a0a0;
    height: 140px;
    border: 2px black solid;
  }

  .sideHeader{
    height: 200px;
    width: 60px;

  }
  .quadrant {
    overflow-y: auto;
    height: 200px;
    background-color: #cecece;
  }

  .top {
    line-height: 60px;
    margin-top: 40px;
    background: #a0a0a0;
    height: 60px;
    border: 2px black solid;
    text-align: center;
    font-weight: 800;
  }

  .vertical-text {
    transform: rotate(-90deg);
    margin-top: 250%;
    text-align: center;
    font-weight: 800;
  }

  .container {
    margin: 0 5px 0 10px;
  }

  .empty{
    width: 60px;
  }

  .userStory {

    size: 10px;
    line-height: 10px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    text-align: left;

  }

  p {
    margin: 0 0 0 0;
  }

  #storyHeader {
    font-weight: 500;
    font-size: 12px;
  }

</style>

<div class= "container">
<div class="row">
  <div class="col-xs-2 col-sm-2 empty"></div>
    <div class="col-xs-5 col-sm-5 top">high importance</div>
    <div class="col-xs-5 col-sm-5 top">low importance</div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 sideHeader">
      <p class="vertical-text">high value</p>
    </div>
    <div class="text-center">

      {{!-- The do and decide and other tags are not necessary to final finish --}}
      <div id="firstQuadrant" class="col-xs-5 col-sm-5 quadrant">Do</div>
      <div id="secondQuadrant" class="col-xs-5 col-sm-5 quadrant">Decide</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 sideHeader">
      <p class="vertical-text">low value</p>
    </div>
    <div class="text-center">
      <div id="thirdQuadrant" class="col-xs-5 col-sm-5 quadrant">Delegate</div>
      <div id="fourthQuadrant" class="col-xs-5 col-sm-5 quadrant">Delete</div>
    </div>
  </div>
</div>


<!-- Modal for individual user story -->

<div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="storyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="individUserStoryModal">User Story</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id= "soloForm">
          <div class="form-group">
            <label for="projectName"> </label>
          </div>

          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea class="form-control" id="projectDescription" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="projectStatus">Status</label>
            <select class="form-control" id="projectStatus">
              <option value="0">Not started</option>
              <option value="1">In progress</option>
              <option value="2">Completed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="dueDate">Due Date</label>
            <br>
            <input type="text" class="form-control dueDate" id="">
          </div>

          <div class="form-group">
            <label for="githubDropDown">Rank your User Story:</label>
            <select class="form-control" id="githubDropDown">
              <option value="4">High Importance / High Value</option>
              <option value="3">Low Importance / High Value</option>
              <option value="2">High Importance / Low Value</option>
              <option value="1">Low Importance / Low Value</option>
            </select>
            <small for="githubDropDown"> This will help to place your user story on the priority matrix!</small>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="userStoryUpdate" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal structure -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="userLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="userStoryModal">Create a new user story!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="userStoryFrom">
          <div class="form-group">
            <label for="projectName">Title</label>
            <input type="text" class="form-control" id="userStory" aria-describedby="userHelp" placeholder="Enter User Story Name">
          </div>

          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea class="form-control" id="projectDescription" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="projectStatus">Status</label>
            <select class="form-control" id="projectStatus">
              <option value="0">Not started</option>
              <option value="1">In progress</option>
              <option value="2">Completed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="dueDate">Due Date</label>
            <br>
            <input type="text" class="form-control dueDate" id="">
          </div>

          <div class="form-group">
            <label for="githubDropDown">Rank your User Story:</label>
            <select class="form-control" id="githubDropDown">
              <option value="4">High Importance / High Value</option>
              <option value="3">Low Importance / High Value</option>
              <option value="2">High Importance / Low Value</option>
              <option value="1">Low Importance / Low Value</option>
            </select>
            <small for="githubDropDown"> This will help to place your user story on the priority matrix!</small>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="userStorySubmit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<script src="/assets/javascript/newUserStory.js"></script>
