<footer class="footer navbar-fixed-bottom">

  <div class= "iconPosition">

    <span class="glyphicon glyphicon-search icon" aria-hidden="true"></span>

    <span class="glyphicon glyphicon-comment icon" aria-hidden="true"></span>

    <span class="glyphicon glyphicon-plus icon" aria-hidden="true"></span>

  </div>

</footer>
